@charset "utf-8";

#event__wrapper{overflow:hidden;position:relative;max-width:640px;margin:0 auto}
#event__wrapper img{display:block;width:100%}
#event__wrapper .box__inner{position:relative}

.anchor__navigation a{position:absolute;left:0;top:0;width:25%;height:100%}
.anchor__navigation .anchor__navigation2{left:25%}
.anchor__navigation .anchor__navigation3{left:50%}
.anchor__navigation .anchor__navigation4{left:75%}

.section__event-sfcmall .link__coupon,
.section__event-sfcmall .link__mycoupon,
.section__event-sfcmall .button__notice,
.section__event-sfcmall .link__smiledelivery,
.section__event-sfcmall .link__department,
.section__event-sfcmall .link__homeshopping,
.section__event-sfcmall .link__smileclub,
.section__event-sfcmall .link__detail{position:absolute;left:48.5%;;width:36.2%;border:0}
.section__event-sfcmall .link__coupon{background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/m/image__coupon.jpg) no-repeat 0 0;background-size:100% auto}
.section__event-sfcmall .link__coupon.link__coupon--soldout{background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/m/image__soldout.jpg) no-repeat 0 0;background-size:100% auto}

.box__event-layer{position:absolute;top:96%;left:0;right:0;z-index:100}
.box__event-layer .button__close-layer{position:absolute;left:0;top:0;width:100%;height:100%;border:0}

.box__smileclub .link__smileclub{top:64.2%;height:6.5%}
/* .box__smileclub.box__smileclub-2 .link__smileclub{top:63.7%} */
.box__smileclub .button__notice{top:49.7%;height:7.634%;left:13%;width:25%}
.box__smileclub .box__event-layer{top:49%}

.box_smilecash .link__smilecash{display:block}

.box__sfc .link__coupon{bottom:13%;height:8.6%;left:31.8%}
.box__sfc .button__notice{height:8%;left:37%;bottom:4%;width:25%;}
.box__sfc .box__event-layer{top:85.57%}

.box__sfc-special .link__coupon{height:11.3%;left:51.5%}
.box__sfc-special .link__coupon1{bottom:18.8%}
.box__sfc-special .button__notice{height:8%;left:37%;bottom:8%;width:25%}
.box__sfc-special .box__event-layer{top:80%}
.box__sfc-special2 .link__mycoupon{bottom:17.5%;height:11.5%;left:31.8%;}
.box__sfc-special2 .button__notice{height:8%;left:37%;bottom:6.5%;width:25%}
.box__sfc-special2 .box__event-layer{top:81%}

.box__add-coupon .link__coupon{bottom:18.5%;height:11.5%;left:51.5%;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/m/image__coupon.jpg) no-repeat 0 0;background-size:100% auto}
.box__add-coupon .button__notice{height:8%;left:37%;bottom:7%;width:25%;}
.box__add-coupon .box__event-layer{top:79.75%}

.box__sfc-overseasdelivery .link__coupon{height:11.5%;left:31.8%}
.box__sfc-overseasdelivery .link__coupon1{bottom:18%}
.box__sfc-overseasdelivery .button__notice{height:8%;left:37%;bottom:8%;width:25%;}
.box__sfc-overseasdelivery .box__event-layer{top:79.86%}

.box__sfc-smileclub .link__mycoupon{bottom:13%;height:9%;left:31.8%}
.box__sfc-smileclub .button__notice{bottom:3%;height:8%;left:37%;width:25%}
.box__sfc-smileclub .box__event-layer{top:85.75%}

.box__monthly .link__coupon{top:76.13%;height:8.713%}
.box__monthly .button__notice{top:87.10%;height:8.713%}
.box__monthly .box__event-layer{top:86.3%}

.box__everyday .link__coupon{bottom:11%;left:31.8%;width:36%;height:9%;background:none}

.box__smiledelivery .link__coupon{top:69.5%;left:12.1%;height:12%}
.box__smiledelivery .link__smiledelivery{top:69.5%;left:52%;width:36.5%;height:12%}
.box__smiledelivery .button__notice{top:82.5%;height:12%;left:12%}
.box__smiledelivery .box__event-layer{top:81.4%}

.box__departmentstore .link__coupon{top:68.5%;left:12.1%;height:12%}
.box__departmentstore .link__department{top:68.5%;left:52%;width:36.5%;height:12%}
.box__departmentstore .button__notice{top:82.5%;height:12%;left:12%}
.box__departmentstore .box__event-layer{top:80.3%}

.box__homeshopping .link__coupon{top:69.5%;left:12.1%;height:12%}
.box__homeshopping .link__homeshopping{top:69.5%;left:52%;width:36.5%;height:12%}
.box__homeshopping .button__notice{top:82.5%;height:12%;left:12%}
.box__homeshopping .box__event-layer{top:81.2%}

.box__shilla .link__detail{top:72.13%;height:14%;width:36%;left:51%}

.box__auction-smileclub .link__mycoupon{top:85.9%;height:7.2%;width:36%;left:32%}

.box__smilecard .link__coupon{top:73%;left:32%;height:9.2%;background:none}