@charset "utf-8";
#event__wrapper{overflow:hidden;min-width:980px}
.box__top-visual{height:408px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__top.jpg) no-repeat 50% 0}
.box__inner{position:relative;width:980px;margin:0 auto}

.anchor__navigation .box__inner{z-index:0;height:102px;margin-top:-51px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__anchor.jpg) no-repeat 50% 0;font-size:0}
.anchor__navigation .box__inner a{overflow:hidden;display:inline-block;width:245px;height:101px}

.section__event-sfcmall .button__notice,
.box__smileclub .link__smileclub,
.box__sfc .link__coupon,
.box__sfc-special .link__coupon,
.box__sfc-special2 .link__mycoupon,
.box__sfc-overseasdelivery .link__coupon,
.box__sfc-smileclub .link__mycoupon,
.box__monthly .link__coupon,
.box__departmentstore .link__department,
.box__homeshopping .link__homeshopping,
.box__auction-smileclub .link__mycoupon,
.box__samsungcard .button__notice,
.box__shilla .link__detail{position:absolute;left:520px;width:222px;height:50px;border:0}
.section__event-sfcmall .link__coupon.link__coupon--soldout{background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__soldout.jpg) no-repeat 0 0}


.box__event-layer{position:absolute;left:0;top:490px;z-index:1000;border:0;outline:0}
.box__event-layer .button__close-layer{position:absolute;right:0;top:0;width:100%;height:100%;border:0;background:#fff;opacity:0;filter:alpha(opacity=0);outline:0}

.box__smileclub .box__inner{height:478px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__smileclub.jpg) no-repeat 50% 0}
.box__smileclub.box__smileclub-2 .box__inner{height:535px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__smileclub-2.jpg) no-repeat 50% 0}
.box__smileclub .link__smileclub{top:329px}
.box__smileclub .button__notice{top:340px;left:118px}
.box__smileclub .box__event-layer{top:329px}

.box_smilecash {height:152px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__smilecash-banner.jpg) no-repeat 50% 0}
.box_smilecash .link__smilecash{display:block;width:980px;height:124px;margin:0 auto}

.box__sfc .box__inner{height:394px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__sfc.jpg) no-repeat 50% 0}
.box__sfc .link__coupon{top:313px}
.box__sfc .button__notice{top:265px;left:118px}
.box__sfc .box__event-layer{top:253px}

.box__sfc-special .box__inner{height:330px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__sfc-special.jpg) no-repeat 50% 0}
.box__sfc-special .link__coupon{top:225px}
.box__sfc-special .button__notice{top:222px;left:118px}
.box__sfc-special .box__event-layer{top:211px}

/* .box__sfc-special2 .box__inner{height:330px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__sfc-special2.jpg) no-repeat 50% 0}
.box__sfc-special2_1214 .box__inner{background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__sfc-special2_1214.jpg) no-repeat 50% 0}
.box__sfc-special2 .link__mycoupon{top:224px}
.box__sfc-special2 .button__notice{top:264px;left:118px}
.box__sfc-special2 .box__event-layer{top:253px} */

.box__sfc-overseasdelivery .box__inner{height:330px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__overseasdelivery.jpg) no-repeat 50% 0}
.box__sfc-overseasdelivery .link__coupon1{top:225px;left:520px}
.box__sfc-overseasdelivery .button__notice{top:222px;left:118px}
.box__sfc-overseasdelivery .box__event-layer{top:211px}

.box__sfc-smileclub .box__inner{height:393px;margin-top:40px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__sfc-smileclub.jpg) no-repeat 50% 0}
.box__sfc-smileclub .link__mycoupon{top:313px}
.box__sfc-smileclub .button__notice{top:265px;left:118px}
.box__sfc-smileclub .box__event-layer{top:253px}

.box__monthly .box__inner{height:317px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__monthly.jpg) no-repeat 50% 0}
.box__monthly .link__coupon{top:199px}
.box__monthly .button__notice{top:255px}
.box__monthly .box__event-layer{top:249px}

.box__everyday .box__inner{height:439px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__everyday.jpg) no-repeat 50% 0}
.box__everyday .link__coupon{position:absolute;top:352px;left:520px;width:222px;height:50px;background:none}

.box__smiledelivery .box__inner{height:330px;margin-top:36px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__smiledelivery.jpg) no-repeat 50% 0}
.box__smiledelivery .link__coupon{position:absolute;top:213px;left:239px;width:222px;height:50px}
.box__smiledelivery .link__smiledelivery{position:absolute;top:213px;left:519px;width:223px;height:50px}
.box__smiledelivery .button__notice{top:264px;left:239px}
.box__smiledelivery .box__event-layer{top:263px}

.box__departmentstore .box__inner{height:330px;margin-top:35px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__departmentstore.jpg) no-repeat 50% 0}
.box__departmentstore .link__coupon{position:absolute;top:213px;left:239px;width:222px;height:50px}
.box__departmentstore .link__department{position:absolute;top:213px;left:519px;width:223px;height:50px}
.box__departmentstore .button__notice{top:264px;left:239px}
.box__departmentstore .box__event-layer{top:263px}

.box__homeshopping .box__inner{height:330px;margin-top:36px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__homeshopping.jpg) no-repeat 50% 0}
.box__homeshopping .link__coupon{position:absolute;top:213px;left:239px;width:222px;height:50px}
.box__homeshopping .link__homeshopping{position:absolute;top:213px;left:519px;width:223px;height:50px}
.box__homeshopping .button__notice{top:264px;left:239px}
.box__homeshopping .box__event-layer{top:263px}

.box__shilla .box__inner{height:292px;margin-top:36px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__shilla.jpg) no-repeat 50% 0}
.box__shilla .link__detail{top:205px;left:523px;width:222px}

.box__auction-smileclub .box__inner{height:442px;margin-top:36px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__auction-smileclub.jpg) no-repeat 50% 0}
.box__auction-smileclub .link__mycoupon{top:352px;left:379px;width:222px}

.box__smilecard .box__inner{height:489px;margin-top:36px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__smilecard.jpg) no-repeat 50% 0}
.box__smilecard .link__coupon{position:absolute;top:364px;left:372px;height:50px;width:237px;border:0;background:none}

.box__event-footer .box__inner{height:123px;background:url(http://image.gmarket.co.kr/Gmkt_Event/2022/04/0401_SFC/image__footer.jpg) no-repeat 50% 0}